h1{
  color: hsl(300, 43%, 22%);
  font-size: 30px;
}


.panel-top-left{
  display:inline-block;
  margin: 0 2% 0 7%;
  width: 40%;
}

.panel-top-right{
  display:inline-block;
  margin: 0 7% 0 2%;
  width: 40%;

}
